*{
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    width: 1380px;
    margin: 0 auto;
}

.rasp, .head_kirp, .footer_kirp{
    display: flex;
    justify-content: space-between;
}

.rasp > p{
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    display: block;
    width: 375px;
    margin-left: 20px;
}


.kirpichi{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.kirpich{
    width: 243px;
    height: 332px;
    border-radius: 4px;
    border: 0.7px solid rgba(134, 134, 134, 0.30);
    background: #FFF;
}

.kirpich-smaller{
    margin-top: 32px;
    width: 226px;
    height: 332px;
    border-radius: 4px;
    border: 0.7px solid rgba(134, 134, 134, 0.30);
    background: #FFF;
}

.head_kirp{
    margin-top: 13px;
}

.head_kirp > div{
    width: 109px;
    height: 23px;
}

.head_kirp span{
    font-size: 12px;
    font-weight: 400;
    color: #FFF;
    margin-left: 10px;
}

.head_kirp img{
    margin-right: 10px;
}

.photo_kirp{
    width: 145px;
    height: 86px;
    margin: 9px auto 0;
}

.name_kirp{
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-left: 9px;
}

.kol-vo{
    margin: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    margin-left: 9px;
}

.footer_kirp p{
    margin: 0;
    color: #7D7D7D;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    margin-left: 9px;
    margin-top: 9px;
}


.prise{
    margin: 0;
    font-size: 20.202px;
    font-style: normal;
    font-weight: 500;
    margin-left: 9px;
    margin-top: 11px;
}

.prise span{
    font-size: 10.862px;
    font-style: normal;
    font-weight: 400;
}

.buy_one_click{
    width: 158px;
    height: 33px;
    border: 0.1px solid #5661CB;
    border-radius: 4px;
    background-color: #5661CB;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-left: 9px;
    margin-top: 11px;
}

.buy_one_click:hover{
    border: 0.1px solid #4755d8;
    border-radius: 8px;
    background-color: #4755d8;
}


.buy_one_click_sm{
    width: 150px;
    height: 33px;
    border: 0.1px solid #5661CB;
    border-radius: 4px;
    background-color: #5661CB;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-left: 9px;
    margin-top: 11px;
}

.buy_one_click_sm:hover{
    border: 0.1px solid #4755d8;
    border-radius: 8px;
    background-color: #4755d8;
}